.banner {
  background-position: center;
  background-size: cover;
  padding: 210px 0;
  color: white;
}

.banner h1 {
  margin-bottom: 1.2rem;
  line-height: 120%;
}

.banner p {
  margin-bottom: 2rem;
  line-height: 160%;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 576px) {
  .banner h1 {
    font-size: 1.8rem;
  }
}
