.card {
  color: rgb(87, 87, 87);
  width: 25%;
  padding: 30px 20px;
  background-color: rgb(240, 236, 248);
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(87, 67, 99, 0.15);
}

.card > img {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(127, 8, 113);
  border-radius: 50%;
  margin-bottom: 1rem;
}

.card h3 {
  margin-bottom: 1rem;
}

.card p {
  font-weight: 300;
  color: rgba(87, 87, 87, 0.7);
  line-height: 150%;
}

@media (max-width: 768px) {
  .card {
    width: 80%;
  }
}
